@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .img-desktop {
    background-image: url("../../public/assets/images/illustration-sign-up-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: auto;
    height: 100%;
  }
  .img-mobile {
    background-image: url("../../public/assets/images/illustration-sign-up-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    height: 100%;
  }

  .text-error {
    color: red;
  }

  .emailError {
    width: 100%;
    padding: 10px;
    border: 1px solid red;
    color: red;
    font-size: 16px;
    outline: none;
  }

  .emailDefault {
    width: 100%;
    padding: 10px;
    border: 1px solid hsl(231, 7%, 60%);
    font-size: 16px;
    outline: none;
  }
}